.title {
    font-size: 30pt;
    text-align: center;
}

#date_area {
    border: solid;
    padding: 15px;
    width: 75%;
    margin: auto;
}
#today_area {
    border: solid;
    padding: 10px;
    width: 50%;
    margin: auto;
    text-align: center;
    
}



.table-ul {
  display: table;
  /* ブロックレベル要素を均等に配置 */
  table-layout: fixed;
  /* ブロックレベル要素全体の幅 */
  width: 80%;
  /*要素内の文字を中央揃えに*/
  text-align:center;
  /*数字は「左右、上下」指定したピクセル分スペースを空ける*/
  border-spacing: 20px 20px;


  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
}

.table-ul div {
  display: table-cell;
  vertical-align: middle;
  border: groove 5px #dddddd;
}

